ion-title{
  background-color: #92949c;
  color: chartreuse;
}


ion-content{
  --ion-background-color: black;
}

ion-button{
  color: chartreuse;
  margin-top: 90px; 
}

h1{
  color:  chartreuse;
  margin-top: 9px;
}